{% load staticfiles %}
<!doctype>
<html lang="en">
<head>
<title>python作业</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/commonstyle.css">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<style type="text/css">
	/*background-color: #EEF3FA;*/
	body{
		background-color:#fff;
	}

</style>
</head>
<body>
<div class="blog-top bground-special">
	<div class="author-name fl"><a>{{ authorname }}</a></div>
	<div class="blog-top-menu fr">
		<span><a>Index</a></span>
		<span><a href="writeblog.html">Write</a></span>
		<span><a>Document</a></span>
		<span><a>About</a></span>
	</div>	
</div>

<div class=" blog-body clearfix">
	<div class="blog-article fl">
		<div class="article-item">
			<div class="article-title text-special">python config</div>
			<div class="article-time">2016-07-17</div>
			<div class="article-guide">today,i met a problem and i finfished it three hours ago...</div>
			
		</div>
		<div class="article-item">
			<div class="article-title text-special">python 2</div>
			<div class="article-time">2016-07-17</div>
			<div class="article-guide">人民网北京2月24日电 (记者 刘阳)国家发展改革委近日发出通知，决定自2月25日零时起将汽、柴油价格每吨分别提高300元和290元，折算到90号汽油和0号柴油（全国平均）每升零售价格分别提高0.22元和0.25元。</div>
			
		</div>
		<div class="article-item">
			<div class="article-title text-special">python config</div>
			<div class="article-time">2016-07-17</div>
			<div class="article-guide">today,i met a problem and i finfished it three hours ago...</div>
			
		</div>
		<div class="article-item">
			<div class="article-title text-special">python 2</div>
			<div class="article-time">2016-07-17</div>
			<div class="article-guide">人民网北京2月24日电 (记者 刘阳)国家发展改革委近日发出通知，决定自2月25日零时起将汽、柴油价格每吨分别提高300元和290元，折算到90号汽油和0号柴油（全国平均）每升零售价格分别提高0.22元和0.25元。</div>
			
		</div>
		<div class="article-item">
			<div class="article-title text-special">python config</div>
			<div class="article-time">2016-07-17</div>
			<div class="article-guide">today,i met a problem and i finfished it three hours ago...</div>
			
		</div>
		<div class="article-item">
			<div class="article-title text-special">python 2</div>
			<div class="article-time">2016-07-17</div>
			<div class="article-guide">人民网北京2月24日电 (记者 刘阳)国家发展改革委近日发出通知，决定自2月25日零时起将汽、柴油价格每吨分别提高300元和290元，折算到90号汽油和0号柴油（全国平均）每升零售价格分别提高0.22元和0.25元。</div>
			
		</div>

	</div>

	<div class="blog-right-menu fr">
		<div class="author-info clearfix">
			<!-- <p>author</p> -->
			<div class="author-img">
				<img src="/static/images/face.jpg" class="fl">
				<div class="fl">
				 <p>jzz2016</p>
				 <p>xiaoyangt41163@qq.com</p>
				 </div>
			</div>
		</div>
		<div class="share-btn-group">
			buttons ------
		</div>
		<div class="catalog">
			<dl>
				<dt>catalog</dt>
				<dd><span class="glyphicon glyphicon-tag"></span>life</dd>
				<dd><span class="glyphicon glyphicon-tag"></span>math</dd>
				<dd><span class="glyphicon glyphicon-tag"></span>linux</dd>
				<dd><span class="glyphicon glyphicon-tag"></span>php</dd>
				<dd><span class="glyphicon glyphicon-tag"></span>python</dd>
				
			</dl>
		</div>
	</div>
	
</div>


	
<script type="text/javascript" src="/static/plugins/jquery-1.11.2.js"></script>
<script type="text/javascript" src="/static/plugins/jquery.validate.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/login.js"></script>
</body>