{% load staticfiles %}
<!doctype>
<html lang="en">
<head>
<title>python作业</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/commonstyle.css">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<style type="text/css">
	/*background-color: #EEF3FA;*/
	body{
		background-color:#fff;
	}

</style>
</head>
<body>
<div class="blog-top bground-special">
	<div class="author-name fl"><a>{{ authorname }}</a></div>
	<div class="blog-top-menu fr">
		<span><a href="/blog">Index</a></span>
		<span><a>Write</a></span>
		<span><a>Document</a></span>
		<span><a>About</a></span>
	</div>	
</div>

<div class="wb-body clearfix">

	<form action="/wbsub/" method="get">
		
	
	<div class="wb-title">
		<textarea name="wb-title" placeholder="title" autofocus="autofocus" ></textarea>
	</div>
	<div class="wb-content">
		<textarea name="wb-content" placeholder="press in you article" autofocus="autofocus" ></textarea>
	</div>
	<div class="wb-btngroup clearfix">
		<div class="share-btn fl">
			
		</div>
		<div class="fr">
			<input type="submit" name="wb">
		</div>
	</div>
	</form>
	
</div>


	
<script type="text/javascript" src="/static/plugins/jquery-1.11.2.js"></script>
<script type="text/javascript" src="/static/plugins/jquery.validate.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/login.js"></script>
</body>